* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	padding-bottom: 70px;
	min-height: 100%; width: 100%;
}

img {
	display: block; width: 100%;
}

h1,
h2,
h3,
h4 {
	padding: 0; margin: 0;
}

a {
	color: #03a9f4;
	text-decoration: underline;
	&:hover {
		color: #0087c4;
	}
}

#header {
	background-color: rgb(140, 195, 75);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	.container {
		max-width: 1200px; min-width: 970px; margin: 0 auto;
		padding: 14px 28px;
	}
}

#footer {
	background-color: rgb(33, 33, 33);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0; width: 100%;
	.container {
		max-width: 1200px; min-width: 970px; margin: 0 auto;
		text-align: center;
		padding: 18px 0;
	}
	.footer-text {
		line-height: 1.2;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.502);
	}
}

.user {
	overflow: hidden;
	position: relative;
	.user-img {
		width: 64px;
		height: 64px;
		overflow: hidden;
		border: 2px solid #fff;
		border-radius: 50%;
		float: left;
	}
	.user-info {
		margin: 12px 0 0 80px;
	}
	.user-name {
		font-size: 21px;
		color: #fff;
		font-family: "Fira Sans Medium", sans-serif;
	}
	.user-email a {
		font-size: 14px;
		line-height: 2;
		color: rgba(255, 255, 255, 0.702);
		text-decoration: none;
	}
}

.user-social {
	position: absolute;
	right: 0; top: 12px;
	padding: 0; margin: 0;
	list-style: none;
	.social-icon {
		display: inline-block;
		margin-left: 20px;
	}
	.social-icon:first-child {
		margin-left: 0;
	}
	.social-icon-name {
		font-size: 0px;
	}
	.social-link {
		font-size: 35px;
		text-indent: normal;
		color: rgba(255, 255, 255, 0.702);
	}
	.social-link:hover {
			color: #fff;
	}
}

// SECTIONS
.section {
	.container {
		width: 960px; margin: 0 auto;
		padding: 80px 0;
	}
	.section-head {
		font-size: 42px;
		color: rgb(33, 33, 33);
		line-height: 0.6;
		text-align: center;
		margin-bottom: 20px;
	}
	.section-subhead {
		font-size: 21px;
		color: rgb(114, 114, 114);
		line-height: 1.3;
		text-align: center;
		font-family: "Fira Sans Light", sans-serif;
		margin-bottom: 40px;
	}
}

#courses {
	background: url('../img/gplaypattern.png') repeat top left;
}

/* TWO COLUMNS */
.two-column-grid {
	overflow: hidden;
	.column {
		width: 50%;
		float: left;
	}
	.column-container {
		padding: 0 10px;
	}
	.column-container {
		img { width: auto; }
	}
	.column-icon {
		float: left;
	}
	.column-content {
		margin-left: 140px;
		padding: 0 20px;
		color: rgb(114, 114, 114);
	  line-height: 1.5;
	  h3 {
			font-size: 21px;
			color: rgb(33, 33, 33);
			line-height: 1.3;
		}
	}
}


/* THREE COLUMNS */

.three-column-grid {
	.column {
		display: inline-block;
		width: 33%;
		vertical-align: text-top;
		letter-spacing: -0.3em;
		position: relative;
	}
	&.done {
		display: none;
	}
}

.course-box {
	letter-spacing: normal;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	margin: 10px;
	position: relative;
	.course-img {
		height: 170px;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
	}
	.course-link {
		display: block;
		font-size: 21px;
		color: #000;
		line-height: 1.14;
		margin-bottom: 20px;
		text-decoration: none;
	}
	.course-link{
		&:hover {
			color: rgb(140, 195, 75);
			.course-img:after {
				content: "";
				display: block;
				width: 100%; height: 5px;
				background: rgb(140, 195, 75);
				position: absolute; bottom: 0;
			}
		}
	}
	.course-name {
		padding: 0 20px;
	}
	.course-content {
		color: rgb(114, 114, 114);
	  line-height: 1.5;
	  padding: 0 20px;
	  margin-bottom: 20px;
	}
	.course-time {
		font-family: "Fira Sans Light", sans-serif;
		color: rgb(182, 182, 182);
	  line-height: 1.5;
	  padding: 0 20px;
	  margin-bottom: 20px;
	  i {
	  	display: inline-block;
	  	margin-right: 5px;
	  }
	}
	.course-check {
		padding: 20px;
		background-color: rgb(246, 247, 242);
	}
	.course-label {
		font-size: 18px;
		line-height: 1.5;
		color: rgb(114, 114, 114);
		position: relative;
		padding-left: 40px;
	}
	.course-label:hover { cursor: pointer; }
	.course-checkbox { display: none; }
	.course-check-style {
		display: inline-block;
		border: 2px solid rgb(182, 182, 182);
		border-radius: 2px;
		background: #fff;
		padding: 0;
		color: #fff;
		line-height: 0;
		font-size: 14px;
		position: absolute;
		left: 0; top: -2px;
	}
	.course-checkbox:checked + .course-check-style {
		background: rgb(140, 195, 75);
		border-color: rgb(140, 195, 75);
		color: #fff;
	}
	&.done {
		box-shadow: none;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background: rgba(140, 195, 75, 0.2);
		}
	}
}

.all-course-done {
	font-size: 42px;
	color: rgb(140, 195, 75);
	line-height: 0.6;
	text-align: center;
	display: none
}
